body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.banner{
    display: block;
    background-color: black;
    color: white;
}
.banner-title{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.banner-search{
    display: flex;
    justify-content: center;
}
.banner-search-input{
    display: block;
    width: 600px;
    height: 30px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 8px;
}
#button-search{
    background-color: white; 
    padding: 4px 4px 4px 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
#button-search:hover{
    background-color: rgb(255, 127, 23);
}
input:focus{
    outline: none;
}
li:hover{
    color: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}